/* .containerInd {
    border: 4px solid; 
    border-radius: 10px;
    background-color: rgba(0, 83, 104, 0.54);
    padding-bottom: 15px;
    margin-bottom: 2rem;
    text-align: center;
    width: min-content;
    
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
} */
/* 
.containerInd:hover{
    --escala: 1.2;
    cursor:pointer;
}

.img {
    width: 247.33px;
    height: 139.11px;
    position: relative;
     top: -1px; 
    z-index: 0;
    border-width: 10px;
}

.txtColor {
    color: #b4b4b4;
}
.landing:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 2px #00FFC2;
} */


.card {
    width: 23%;
    margin: 1%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color:teal;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
  
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .cardInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-decoration: none;
  }
  
  .cardImg {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .cardImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    text-decoration: none;
  }
  
  .cardContent {
    padding: 1rem;
    text-decoration: none;
  }
  
  .cardTitle {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color:rgb(10, 53, 53)
  }
  .cardRating{
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: lighter;
    color: #000000;
    text-align: center;
  }
  .cardGenres {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: lighter;
    color: #000000;
    text-align: center;
  }